* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
#app {
  width: 600px;
  margin: auto;
}
#app > header {
  margin: 20px 0;
}
#app > header h1 {
  text-align: center;
}
#app > main .inputInfo {
  position: relative;
}
#app > main .inputInfo textarea {
  width: 100%;
  height: 100px;
  font-size: 18px;
}
#app > main .inputInfo button {
  position: absolute;
  right: 0;
  width: 80px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
}
#app > main > ul {
  margin-top: 40px;
}
#app > main > ul .liStyle {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  margin-bottom: 5px;
  background-color: #F1F3F4;
}
#app > main > ul .liStyle button {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 25px;
}
